trigger:
- master
-development

pool:
    vmImage: 'ubuntu-latest'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.11.4'
    addToPath: true
    
- script: |
    pip install pylint
    pylint **/*.py
  displayName: 'Run pylint'

- script: |
    echo "Building Calculator Application"
    python -m compileall .
  displayName: 'Build Python Calculator App'

- task: CopyFiles@2
  inputs:
    contents: '**/*.py'
    targetFolder: '$(build.artifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'drop'